@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  background: transparent;
  border: 2px solid transparent;
  padding: 10px 31px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  @include transition(.3);
  &-primary {
    border-color: $primaryColor;
    background: $primaryColor;
    color: $whiteColor;
    &:hover {
      background: transparent;
      color: $primaryColor;
    }
  }
  &-secondary {
    border-color: #F3F3F3;
    background: #F3F3F3;
    color: $defaultText;
    &:hover {
      background: transparent;
      color: $whiteColor;
    }
  }
}

.view-more-btn {
  background: #F3F3F3;
  border-radius: 4px;
  color: $defaultText;
  padding: 11px 33px;
  cursor: pointer;
  @include transition(.3);
  &:hover {
    color: $whiteColor;
    background: $primaryColor;
  }
}