@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?h7lkbl");
  src: url("../fonts/icomoon.eot?h7lkbl#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff?h7lkbl") format("woff"), url("../fonts/icomoon.svg?h7lkbl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.--relative {
  position: relative;
}

.full-height {
  height: 100%;
}

.default-icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body.active {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'WorkSans', sans-serif;
  color: #333333;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #F9F9F9;
  color: #333333;
  font-family: 'WorkSans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

.heading-1 {
  font-size: 60px;
  font-size: -webkit-calc(40px + (60 - 40) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(40px + (60 - 40) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.07;
}

.heading-2 {
  font-size: 50px;
  font-size: -webkit-calc(28px + (50 - 28) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(28px + (50 - 28) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(28px + (50 - 28) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.heading-3 {
  font-size: 42px;
  font-size: -webkit-calc(24px + (42 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(24px + (42 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(24px + (42 - 24) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.16;
}

.heading-3 {
  font-size: 24px;
  font-size: -webkit-calc(18px + (24 - 18) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(18px + (24 - 18) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.1;
  font-weight: 700;
}

.heading-4 {
  font-size: 36px;
  font-size: -webkit-calc(16px + (36 - 16) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(16px + (36 - 16) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(16px + (36 - 16) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.heading-5 {
  font-size: 24px;
  font-size: -webkit-calc(14px + (24 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(14px + (24 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.heading-5 {
  font-size: 16px;
  font-size: -webkit-calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  line-height: 1.33;
}

.section-icon {
  background: linear-gradient(180deg, #FEFEFE 0%, #F2F1F2 100%);
  border: 0.5px solid #D2D0D2;
  box-shadow: 0px 0.5px 0px #A6A4A6;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 14px auto;
}

.section-icon img {
  display: block;
  width: 28px;
  object-position: contain;
}

.section-heading {
  font-family: 'WorkSans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 4px;
  text-align: center;
}

.section-subheading {
  color: #777777;
  font-size: 14px;
  text-align: center;
}

.icon-icon-search:before {
  content: "\e917";
  color: #022f55;
}

.icon-icon-triangle:before {
  content: "\e900";
}

.icon-icon-arrow:before {
  content: "\e901";
}

.icon-icon-star:before {
  content: "\e902";
  color: #c9c9c9;
}

.icon-icon-checkmark:before {
  content: "\e903";
}

.icon-icon-star-filled:before {
  content: "\e904";
}

.icon-icon-credit-card:before {
  content: "\e905";
}

.icon-icon-star-big-filled:before {
  content: "\e906";
}

.icon-icon-data:before {
  content: "\e907";
}

.icon-icon-info:before {
  content: "\e908";
}

.icon-icon-reports:before {
  content: "\e909";
}

.icon-icon-blog:before {
  content: "\e90a";
}

.icon-icon-facebook:before {
  content: "\e90b";
}

.icon-icon-heading:before {
  content: "\e90c";
}

.icon-icon-location-plus:before {
  content: "\e90d";
}

.icon-icon-phone:before {
  content: "\e90e";
}

.icon-icon-help:before {
  content: "\e90f";
}

.icon-icon-youtube:before {
  content: "\e910";
}

.icon-icon-bell:before {
  content: "\e911";
  color: #1a4540;
}

.icon-icon-twitter:before {
  content: "\e912";
}

.icon-icon-star-big:before {
  content: "\e913";
}

.icon-icon-user:before {
  content: "\e914";
}

.icon-icon-faq-big:before {
  content: "\e915";
}

.icon-icon-products:before {
  content: "\e916";
}

.icon-icon-instagram:before {
  content: "\e918";
}

.tabs-list {
  display: flex;
  justify-content: center;
  box-shadow: inset 0px -1px 0px rgba(189, 189, 189, 0.5);
}

.tabs-list__item {
  margin: 0;
}

.tabs-list__item_link {
  padding: 12px 28px;
  line-height: 1.1;
  display: inline-block;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.tabs-list__item_link:before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.tabs-list__item_link:hover {
  color: #1A4540;
  font-weight: 700;
}

.tabs-list__item_link.active {
  font-weight: 700;
  color: #1A4540;
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: inset 0px -2px 0px #1A4540;
}

.tabs-wrap {
  width: 100%;
  padding-top: 35px;
}

.tabs-wrap .tab-content {
  display: none;
  animation: fadeEffect .5s;
  -webkit-animation: fadeEffect .5s;
}

.tabs-wrap .tab-content.is-show {
  display: block;
}

.tabs-wrap .tab-content.active {
  display: block;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.btn {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  background: transparent;
  border: 2px solid transparent;
  padding: 10px 31px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn-primary {
  border-color: #161B39;
  background: #161B39;
  color: #ffffff;
}

.btn-primary:hover {
  background: transparent;
  color: #161B39;
}

.btn-secondary {
  background: #F3F3F3;
  color: #333333;
}

.btn-secondary:hover {
  color: #ffffff;
  background: #161B39;
}

.btn-secondary.view-more {
  margin-top: 30px;
}

.btn-hover-outline {
  border-color: #F3F3F3;
  background: #F3F3F3;
  color: #333333;
}

.btn-hover-outline:hover {
  background: transparent;
  color: #ffffff;
}

.container {
  max-width: 1155px;
  margin: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -12px;
}

.m-row {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

.d-flex {
  display: flex;
  flex-flow: row wrap;
}

.m-auto {
  display: block;
  margin: auto;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.w-100 {
  width: 100%;
}

.align-self-middle {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-center {
  justify-content: center;
}

.align-spaced {
  justify-content: space-around;
}

.align-middle {
  align-items: center;
}

.align-justify {
  justify-content: space-between;
}

.align-right {
  justify-content: flex-end;
}

.align-left {
  justify-content: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-self-bottom {
  align-self: flex-end;
}

.align-content-justify {
  align-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  padding: 0 12px;
}

.col-xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  padding: 0 12px;
}

.col-xs-3 {
  flex: 0 0 25.0%;
  max-width: 25.0%;
  padding: 0 12px;
}

.col-xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 12px;
}

.col-xs-5 {
  flex: 0 0 41.66666%;
  max-width: 41.66666%;
  padding: 0 12px;
}

.col-xs-6 {
  flex: 0 0 50.0%;
  max-width: 50.0%;
  padding: 0 12px;
}

.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding: 0 12px;
}

.col-xs-8 {
  flex: 0 0 66.66666%;
  max-width: 66.66666%;
  padding: 0 12px;
}

.col-xs-9 {
  flex: 0 0 75.0%;
  max-width: 75.0%;
  padding: 0 12px;
}

.col-xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  padding: 0 12px;
}

.col-xs-11 {
  flex: 0 0 91.66666%;
  max-width: 91.66666%;
  padding: 0 12px;
}

.col-xs-12 {
  flex: 0 0 100.0%;
  max-width: 100.0%;
  padding: 0 12px;
}

/* small phones grid*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1020;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.header-top {
  padding: 10px 0;
  background: #ffffff;
}

.header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom {
  background: #f5f5f5;
}

.header-logo {
  display: flex;
  width: 140;
}

.header-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-control {
  display: flex;
  align-items: center;
}

.header-lang {
  width: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.header-lang select {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  background: transparent;
}

.header-lang select::-ms-expand {
  display: none;
}

.header-lang:after {
  content: "\e900";
  font-family: 'icomoon';
  position: absolute;
  right: 0;
  margin-left: 4px;
  font-size: 10px;
  pointer-events: none;
}

.header-cta {
  margin-left: 15px;
}

.search input {
  background: transparent;
  border: 1px solid transparent;
  height: 100%;
  width: 240px;
  padding: 2px 30px 2px 12px;
  outline: none;
  color: #f5f5f5;
  border-radius: 4px;
  pointer-events: none;
}

.search input::placeholder {
  color: #f5f5f5;
  opacity: 1;
}

.search input:-ms-input-placeholder {
  color: #f5f5f5;
}

.search input::-ms-input-placeholder {
  color: #f5f5f5;
}

.search .form-group {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  pointer-events: auto;
}

.search .form-group.active input {
  background: #FBFBFB;
  color: #333333;
  cursor: text;
  pointer-events: auto;
  border-color: 1px solid #ECECEC;
}

.search .form-group.active input::placeholder {
  color: #333333;
  opacity: 1;
}

.search .form-group.active input:-ms-input-placeholder {
  color: #333333;
}

.search .form-group.active input::-ms-input-placeholder {
  color: #333333;
}

.search i {
  position: absolute;
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.search i:hover ~ input {
  pointer-events: auto;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  margin: 0 30px 0 0;
}

.menu__link {
  font-size: 14px;
  color: #000000;
  line-height: 1;
  padding: 13px 0;
  display: block;
  transition: all 0.3s ease-out;
}

.menu__link:hover {
  background: rgba(0, 0, 0, 0.0001);
  color: #1A4540;
  box-shadow: inset 0px -2px 0px #1A4540;
}

.sub-menu {
  position: absolute;
  min-width: 300px;
  opacity: 0;
  visibility: hidden;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.1);
  border-radius: 4px;
  transform: translate(-10px, 0);
  transition: all 0.3s ease-out;
}

.sub-menu .menu-item {
  margin: 0;
}

.sub-menu .menu-item.border-bottom {
  box-shadow: inset 0px -1px 0px rgba(189, 189, 189, 0.5);
}

.sub-menu .menu__link {
  padding: 12px 20px;
  line-height: 1.1;
}

.sub-menu .menu__link:hover {
  background: #161B39;
  color: #ffffff;
}

.menu-item-has-children {
  align-items: center;
  position: relative;
  margin-right: 45px;
}

.menu-item-has-children:after {
  content: "\e900";
  font-family: 'icomoon';
  position: absolute;
  top: 14px;
  right: -18px;
  margin-left: 4px;
  font-size: 10px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.menu-item-has-children.hovered:after {
  transform: rotate(180deg);
}

.menu-item-has-children.hovered .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.menu-item-has-children.hovered > .menu__link {
  background: rgba(0, 0, 0, 0.0001);
  color: #1A4540;
  box-shadow: inset 0px -2px 0px #1A4540;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-padding {
  height: 100px;
}

section.cards,
section.banner,
section.blog,
section.programs-list,
section.reviews {
  margin-bottom: 80px;
}

section.cards .col-12,
section.banner .col-12,
section.blog .col-12,
section.programs-list .col-12,
section.reviews .col-12 {
  margin-bottom: 30px;
}

.rating-stars {
  display: flex;
  align-items: center;
}

.rating-stars .stars {
  display: flex;
}

.rating-stars span {
  margin-left: 2px;
  color: #777777;
  font-size: 14px;
}

.rating-stars .star-filled,
.rating-stars .star {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.rating-stars .star-filled:before,
.rating-stars .star:before {
  content: '';
  background: url("../img/icons/icon-star-filled.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
}

.rating-stars .star:before {
  background: url("../img/icons/icon-star.svg");
}

.cards {
  margin-top: 50px;
}

.cards .col-lg-3 {
  margin-bottom: 24px;
}

.cards .view-more-btn {
  margin-top: 10px;
}

.cards-tabs {
  margin-top: 40px;
}

.cards-tabs .tabs-list {
  margin-bottom: 35px;
}

.cards-item {
  background: #ffffff;
  border: 1px solid #EBEBEB;
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.1);
  border-radius: 6px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cards__image {
  height: 125px;
}

.cards__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

.cards__description {
  margin-bottom: 10px;
  font-size: 14px;
  color: #4C4C4C;
}

.cards__rating {
  display: flex;
  align-items: center;
}

.cards-content {
  padding: 18px;
}

.cards .btn {
  text-align: center;
  margin: auto 18px 18px 18px;
}

.background-grid {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/background-grid.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.banner-inner {
  background: linear-gradient(90deg, #161B39 0%, #1A4540 64.23%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  position: relative;
  display: flex;
  padding: 30px 40px;
}

.banner__image {
  width: 35%;
  display: flex;
  align-items: center;
  z-index: 2;
}

.banner__image_background {
  width: 185px;
  height: calc(100% - 20px);
  object-fit: cover;
  object-position: left;
}

.banner__image_main {
  position: absolute;
  width: fit-content;
  top: 50%;
  transform: translate(0, -50%);
  left: 65px;
  object-position: left;
  width: 290px;
}

.banner__content {
  width: 65%;
  color: #ffffff;
  z-index: 2;
}

.banner__content h3 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: 700;
  color: #ffffff;
}

.banner__content p {
  color: #ffffff;
  margin-bottom: 20px;
}

.banner__content .btn-secondary {
  margin-bottom: 15px;
}

.blog .col-lg-4,
.blog .col-lg-8 {
  margin-bottom: 24px;
}

.blog-item {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  transition: all 0.3s ease-out;
}

.blog-item:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.blog-item:hover .blog__image img {
  transform: scale(1.04);
}

.blog__image {
  margin-bottom: 13px;
  height: 210px;
  overflow: hidden;
}

.blog__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
}

.blog__content {
  margin-bottom: 18px;
  padding: 0 15px;
}

.blog__content h2 {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 20px;
}

.blog__content p {
  color: #4C4C4C;
  font-size: 14px;
}

.blog__data {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 15px;
}

.blog__date {
  font-size: 14px;
  color: #999999;
}

.blog__author {
  color: #043E6F;
  font-size: 14px;
}

.blog-item-wide {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: all 0.3s ease-out;
}

.blog-item-wide__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blog-item-wide__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
}

.blog-item-wide:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.blog-item-wide:hover .blog-item-wide__image img {
  transform: scale(1.04);
}

.blog-item-wide__content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  max-width: 80%;
}

.blog-item-wide__content h2 {
  margin-bottom: 6px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.blog-item-wide__content p {
  opacity: .8;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
}

.blog-item-wide__data {
  display: flex;
}

.blog-item-wide__date {
  color: #ffffff;
  font-size: 14px;
  margin-right: 16px;
}

.blog-item-wide__author {
  color: #ffffff;
  font-size: 14px;
}

.programs-list-table {
  width: 100%;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
}

.programs-list-table table {
  width: 100%;
}

.programs-list-table tr {
  border-bottom: 1px solid #EBEBEB;
}

.programs-list-table th {
  color: #777777;
  font-size: 14px;
}

.programs-list-table td,
.programs-list-table th {
  text-align: left;
  vertical-align: middle;
  padding: 12px 24px;
}

.programs-list-table .btn-secondary {
  margin-right: 5px;
}

.programs-list .affiliate-programs-cell {
  display: flex;
  align-items: center;
}

.programs-list .affiliate-programs-cell div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.programs-list .affiliate-programs-cell img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 16px;
  object-fit: cover;
}

.programs-list .affiliate-programs-cell h4 {
  color: #222222;
  margin-bottom: 4px;
}

.programs-list .affiliate-programs-cell span {
  background: linear-gradient(225deg, #51BAAB 0%, #B620E0 100%);
  border-radius: 9px;
  padding: 4px 10px;
  color: #ffffff;
  font-size: 9px;
}

.programs-list .rev-share-cell {
  color: #3EA950;
}

.reviews-item {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.09);
  padding: 30px 24px;
}

.reviews__data {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.reviews__data i:before {
  color: #FF9500;
}

.reviews__data span {
  margin-left: 15px;
  color: #777777;
  font-size: 14px;
}

.reviews__content p {
  color: #000000;
  line-height: 1.7;
  font-size: 14px;
  margin-bottom: 16px;
}

.reviews__author {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 70px 1fr;
  align-items: center;
}

.reviews__author img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
}

.reviews__author p {
  grid-column: 2/3;
  grid-row: 1/2;
}

.reviews__author span {
  grid-column: 2/3;
  grid-row: 2/3;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 12px;
  }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 12px;
  }

  .col-sm-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 12px;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 12px;
  }

  .col-sm-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 12px;
  }

  .col-sm-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 12px;
  }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 12px;
  }

  .col-sm-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 12px;
  }

  .col-sm-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 12px;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 12px;
  }

  .col-sm-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 12px;
  }

  .col-sm-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 12px;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 12px;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 12px;
  }

  .col-md-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 12px;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 12px;
  }

  .col-md-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 12px;
  }

  .col-md-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 12px;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 12px;
  }

  .col-md-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 12px;
  }

  .col-md-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 12px;
  }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 12px;
  }

  .col-md-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 12px;
  }

  .col-md-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 12px;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 12px;
  }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 12px;
  }

  .col-lg-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 12px;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 12px;
  }

  .col-lg-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 12px;
  }

  .col-lg-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 12px;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 12px;
  }

  .col-lg-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 12px;
  }

  .col-lg-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 12px;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 12px;
  }

  .col-lg-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 12px;
  }

  .col-lg-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 12px;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 12px;
  }

  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 12px;
  }

  .col-xl-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 12px;
  }

  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 12px;
  }

  .col-xl-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 12px;
  }

  .col-xl-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 12px;
  }

  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 12px;
  }

  .col-xl-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 12px;
  }

  .col-xl-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 12px;
  }

  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 12px;
  }

  .col-xl-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 12px;
  }

  .col-xl-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 12px;
  }
}

@media (min-width: 1800px) {
  .heading-1 {
    font-size: 80px;
    font-size: -webkit-calc(50px + (80 - 50) * ((100vw - 300px) / (1900 - 300)));
    font-size: -moz-calc(50px + (80 - 50) * ((100vw - 300px) / (1900 - 300)));
    font-size: calc(50px + (80 - 50) * ((100vw - 300px) / (1900 - 300)));
  }

  .heading-2 {
    font-size: 62px;
    font-size: -webkit-calc(34px + (62 - 34) * ((100vw - 300px) / (1900 - 300)));
    font-size: -moz-calc(34px + (62 - 34) * ((100vw - 300px) / (1900 - 300)));
    font-size: calc(34px + (62 - 34) * ((100vw - 300px) / (1900 - 300)));
  }

  .heading-3 {
    font-size: 54px;
    font-size: -webkit-calc(28px + (54 - 28) * ((100vw - 300px) / (1900 - 300)));
    font-size: -moz-calc(28px + (54 - 28) * ((100vw - 300px) / (1900 - 300)));
    font-size: calc(28px + (54 - 28) * ((100vw - 300px) / (1900 - 300)));
  }

  .heading-3 {
    font-size: 33px;
  }
}

@media (max-width: 991px) {
  .tabs-list {
    max-width: 100%;
  }

  .tabs-wrap {
    max-width: unset;
  }
}

@media (max-width: 360px) {
  .col-exs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 12px;
  }

  .col-exs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 12px;
  }

  .col-exs-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 12px;
  }

  .col-exs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 12px;
  }

  .col-exs-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 12px;
  }

  .col-exs-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 12px;
  }

  .col-exs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 12px;
  }

  .col-exs-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 12px;
  }

  .col-exs-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 12px;
  }

  .col-exs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 12px;
  }

  .col-exs-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 12px;
  }

  .col-exs-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 12px;
  }
}